$badass: #bada55;
$mediumbrown: #CE8A56;
$black: #14171a;
$lighttan: #F8F0E9;
$parkgreen: #384e21;
$lakeblue: #224873;
$softgreen: #6EA762;
$whitegrey: #f5f8fa;
$darkblue: #006dbf;
$lightblue: #4ab3f4;

body { 
  margin: 0; 
  background-color: white; 
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  color: black
}

a:hover {
  color: forestgreen;
  text-decoration: none;
}
.offset-left {
  margin-left: 22%;
}

.top-margin {
  margin-top: 2%;
}
img {
  border-radius: 3px;
}
div.card {
  padding: 0;
}
img {
  padding: 0;
}
.twitterPhotos {
  height: 500px;
  width: auto;
  overflow: hidden;
}
.no-padding {
  padding-right: 0!important;
  padding-left: 0!important;
}
