$badass: #bada55;
$mediumbrown2: #CE8A56;
$mediumbrown: #C26D2C;
$lighttan: #F8F0E9;
$black: #14171a;
$parkgreen: #384e21;
$lakeblue: #224873;
$meadow: #93A644;
$meadow2: #f4f6ec;
$softgreen: #6EA762;
$whitegrey: #f5f8fa;
$darkblue: #006dbf;
$lightblue: #4ab3f4;
$rustred: #83391e;
$rustred2: #F4EBE8;
$rustred3: #993a22;

body { 
  margin: 0; 
  background-color:$whitegrey; 
  font-family: 'Libre Franklin', sans-serif;   
}
h1, h2, h3 {
  font-family: 'Heebo', sans-serif;  
}
li {
  text-decoration: none;
  list-style: none;
}

.textleft {
  margin-left: 11%;
}
a {
  color: black
}

nav {
  background-color: white;
}
a:hover {
  color: forestgreen;
  text-decoration: none;
}
.offset-left {
  margin-left: 17%;
}
.statetitle{
  padding-top: 2%;
  font-family: 'Libre Franklin', sans-serif; 
  border-bottom: 2px solid $black;
  width: 80%;
}
.top-margin {
  margin-top: 2%;
}
img {
  border-radius: 3px;
}
div.card {
  padding: 0;
}
img {
  padding: 0;
}
.twitterPhotos {
  height: 500px;
  width: auto;
  overflow: hidden;
}
.no-padding {
  padding-right: 0!important;
  padding-left: 0!important;
}

.small-margin {
  margin-left: 2%;
}
// -------- NAV ------
// a.btn.btn-outline-primary.nav-link.col-sm.explore{
//   margin
// }

.explore {
  background-color: $mediumbrown2;
  border-color: transparent;
  color: white;
  margin-left: 27%;
}
a:hover.explore {
  background-color: $mediumbrown;  
  border-color: $mediumbrown;  
}
.button-divide {
  margin-left: 47%; 
}
.button-space {
  margin-left: 3%;
}
.favorite {
  border-color: $rustred;
  color: $rustred;
  background-color: transparent;
}
a:hover.favorite {
  background-color: $rustred;  
  border-color: $rustred;
  color: white;
}
btn-outline-primary:not([disabled]):not(.disabled):active {
  background-color: $rustred3;  
  border-color: $rustred3;
  color: white;
}
a:active.favorite {
  background-color: $rustred3;  
  border-color: $rustred3;
  color: white;
}
.logout {
  border-color: $meadow;
  color: $meadow;
}
a:hover.logout {
  background-color: $meadow;  
  border-color: $meadow;
  color: white;
}
.btn-outline-primary:focus, .btn-outline-primary:focus {
  box-shadow: none;
}
btn-outline-primary:not([disabled]):not(.disabled):active {
  background-color: $rustred3;  
  border-color: $rustred3;
  color: white;
}
a:active.logout {
  background-color: $rustred3;  
  border-color: $rustred3;
  color: white;
}
.save-fav {
  border-color: $rustred;
  color: $rustred;
}
a:hover.save-fav {
  background-color: $rustred;  
  border-color: $rustred;
  color: white;
}
btn-outline-primary:not([disabled]):not(.disabled):active {
  background-color: $rustred3;  
  border-color: $rustred3;
  color: white;
}
a:active.save-fav {
  background-color: $rustred3;  
  border-color: $rustred3;
  color: white;
}