//- if session.passport
//-   span #{session.passport.user.username}
  //- form(method="POST")
  //-   button(type="submit" formaction="/logout") Logout
  //- a(href="/favorites") Favorites
//-   br
//- else if !session.passport
//-   button
//-     a(href="/login") Login
//- a(href="/parks" id="hr") Explore Parks

nav(class="navbar navbar-expand-lg navbar-light bg-light")
    //- brand/logo
    p(class="navbar-brand nav-item") NatlParkNow
    a(class="btn btn-outline-primary nav-link col-sm" href="/parks" id="hr") Explore Parks
    div(class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup")
      if session.passport
        a(class="nav-link col-sm" href="/favorites") Favorites
        //- logout button
        form(method="POST" class="form-inline nav-item")
          button(class="btn btn-outline-primary" type="submit" formaction="/logout") Logout
      else if !session.passport
          div(class="nav-item row")
              //- login button
              a(class="btn btn-primary nav-link col-sm" href="/login") Login
              //- register button
              a(class="btn btn-info nav-link col-sm" href="/register") Register
