//- if session.passport
//-   span #{session.passport.user.username}
  //- form(method="POST")
  //-   button(type="submit" formaction="/logout") Logout
  //- a(href="/favorites") Favorites
//-   br
//- else if !session.passport
//-   button
//-     a(href="/login") Login
//- a(href="/parks" id="hr") Explore Parks

nav(class="navbar navbar-expand-lg")
    //- brand/logo
    p(class="navbar-brand nav-item") NatlParkNow
    a(class="btn btn-outline-primary nav-link col-sm explore" href="/parks") Explore Parks
    div(class="collapse navbar-collapse")
      if session.passport
        //- button(class="btn btn-primary nav-link" href="/favorites") Favorites
          //- form(method="POST" class="form-inline")
        a(class="btn btn-outline-primary button-divide favorite" href="/favorites") Favorites
        form(method="POST")
          button(class="btn btn-outline-primary button-space logout" type="submit" formaction="/logout") Logout
      else if !session.passport
              //- login button
              a(class="btn btn-primary nav-link button-divide favorite" href="/login") Login
              //- register button
              a(class="btn btn-info nav-link button-space" href="/register") Register
