doctype html
html
  head
    title NatlParkNow
  body
    //- include partials/nav.pug


  //- block content
  //-   button#showLogin login
  //-   button#showRegister register

    script
      include ../client/client.js
