extends layout.pug
block content
  h3 Login to view your parks:
  if message
    h2= message

  form(class="form-inline" action="/login", method="post")
    div(class="form-group")
      input(class="form-control" type="text" placeholder="username" name="username")
    div(class="form-group")    
      input(class="form-control" type="email" placeholder="email" name="email")
    div(class="form-group")    
      input(class="form-control" type="password" placeholder="password" name="password")
    button(class="btn btn-outline-primary small-margin favorite" type="submit") login

  
