extends layout.pug
block content
  h1
    ul(class="offset-left")
      //- each park in natParks  
      //-   li
      //-   -let url = `/parks/` + park.id + `/`
      //-   a(class="text-center" href=url) #{park.fullName} 
      each park in sortedParks
        if(park.parks.length)
          li
            h2= park.state
            each parkName in park.parks
              h4= parkName.name