extends layout.pug
block content
  h1
    ul(class="offset-left")
      each park in natParks  
        li
        -let url = `/parks/` + park.id + `/`
        a(class="text-center" href=url) #{park.fullName} 