extends layout.pug
block content
  h1
    ul(class="offset-left")
      each park in sortedParks
        if(park.parks.length)
          li
            h4= park.state
            //- ul
            each parkName in park.parks
              //- li
              -let url = `/parks/` + parkName.id + `/`
                a(class="text-center" href=url) #{parkName.fullName} 